.main{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 144, 144);
}

.header{
    background-color: red;
}

.content{
    background-color: black;
}

.footer{
    background-color: palegoldenrod;
}